.itemList {
  width: calc(100%);
  max-width: 2000px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.itemListBox {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px;
  border: 1px solid #ddd;
  padding: 5px;
}

.itemNullBox {
  border: 1px solid #ddd;
  display: flex;
  height: 500px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.sort {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  .sortline {
    font-size: 11px;
    height: 30px;
    display: flex;
    border-bottom: 1px solid #ddd;
    font-weight: bold;

    .sortChoice {
      display: flex;
      flex: 1;
      padding: 7px;
      div {
        border-right: 1px solid #ddd;
        padding: 0px 10px;
        color: #b2b2b2;
        span:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .select {
        color: #000;
      }

      .search {
        border: none;
        color: #000;
        pointer-events: none;
      }
    }

    .pagenation_wrapper {
      height: 30px;
      text-align: right !important;
    }

    .pagenation {
      display: inline-block;
      button {
        border: none;
        border-left: 1px solid #ddd;
        width: auto;
        min-width: 32px;
        padding: 0 2px;
        line-height: 30px;
        text-align: center;
        color: #b2b2b2;
        background-color: white;
        cursor: pointer;
      }
      .selected {
        background-color: #f3f3f3;
        font-weight: bold;
        color: black;
      }
    }
  }
  .pageline {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 1px solid #ddd;

    .page_index_box {
      padding-right: 12px;
      font-weight: 700;
      line-height: 28px;
      text-align: right;
    }
  }
}
