.itemList {
  width: calc(100%);
  max-width: 2000px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.itemListBox {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px;
  border: 1px solid #ddd;
  padding: 5px;
}

.itemNullBox {
  border: 1px solid #ddd;
  display: flex;
  height: 500px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.sort {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  .sortline {
    font-size: 11px;
    height: 14px;
    padding: 7px;
    display: flex;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    .select {
      color: #000;
    }
    div {
      padding: 0px 10px;
      border-right: 1px solid #ddd;
      color: #b2b2b2;
    }
    span:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .pageline {
    font-size: 11px;
    height: 20px;
    padding: 3px;
    display: flex;
    border-bottom: 1px solid #ddd;
    .pagenumber {
      padding: 0px 11px;
      display: flex;
      flex-direction: row;
      .page {
        width: 20px;
        border: 1px solid #ddd;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}
