.inquiryListWrap {
  float: left;
  margin-bottom: 120px;
  margin-top: -32px;
  padding-right: 40px;
  width: calc(100% - 290px);
  min-height: calc(100vh - 500px);
  .header {
    border-bottom: 3px solid #000000;
    font-family: 'Musinsa', sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 80px;
    padding-bottom: 14px;
    position: relative;
    h1 {
      display: inline-block;
      font-family: 'Musinsa', sans-serif !important;
      font-size: 24px;
      font-weight: normal;
      margin: 0;
    }
  }
}

.grid_order {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
}

.grid_orderitem {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.grid_header {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  height: 52px;
  justify-content: center;
  line-height: 48px;
  vertical-align: middle;
}

.grid_items {
  display: flex;
  font-size: 16px;
  height: 150px;
  justify-content: center;
  line-height: 146px;
  vertical-align: middle;
}

.Item {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  .ImageDiv {
    flex: 3;
    display: flex;
    .previewImage {
      height: 100%;
      margin: auto;
      display: block;
      cursor: pointer;
    }
  }
  .ItemInfo {
    flex: 7;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .InfoLine {
      line-height: 25px;
      .brand {
        font-size: 14px;
      }

      .name {
        font-weight: bold;
        font-size: 14px;
      }
      .size {
        color: #ccc;
      }
    }
  }
}

.inquiryContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inquiryItemTitle {
  line-height: 20px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
  position: relative;
}

.overFlow {
  margin: 5px 0px;
  max-height: 100px;
  overflow: auto;
}
.inquiryContent {
  max-width: 350px;
  font-size: 14px;
  line-height: 16px;
}
.inquiryItemType {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.inquiryItemDate {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.inquiryItemIsAnsweredFalse {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  color: #ff0000;
  .falseText {
    flex: 1;
  }
}

.falseButton {
  .edit {
    transform: translate(-5%, 0);
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
    height: 29px;
    line-height: 30px;
    padding-top: 0;
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
    min-width: 30px;
  }
  .edit:hover {
    cursor: pointer;
    transition-duration: 300ms;
    border: 1px solid black;
  }
  .delete {
    transform: translate(5%, 0);
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
    height: 29px;
    line-height: 30px;
    padding-top: 0;
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
    min-width: 30px;
  }
  .delete:hover {
    cursor: pointer;
    transition-duration: 300ms;
    border: 1px solid black;
  }
}
.inquiryItemIsAnsweredTrue {
  margin: 10px 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 96px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 96px;
  position: relative;
  color: #14aaff;
}
.inquiryItemContent {
  background-color: #f7f7f7;
  .contentText {
    text-align: left;
  }
  td {
    border-bottom: 1px solid #e2e2e2;
  }
}
.inquiryItemComment {
  background-color: #f7f7f7;
}
.pagination {
  margin-top: 20px;
  text-align: center;
  span {
    cursor: pointer;
    font-size: 20px;
  }
  button {
    background-color: white;
    border: 0;
    cursor: pointer;
  }
}

.none {
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  color: #777777;
  display: flex;
  font-size: 14px;
  height: 400px;
  justify-content: center;
}
