.reviewBox {
  display: block;
  width: 958px;
  height: auto;
  padding-top: 20px;
  background-color: blue;
  .reviewProfile {
    width: 930px;
    height: 48px;
    padding-left: 13px;
    padding-right: 15px;
    background-color: green;
  }
  .reviewGoodsInformation {
    width: 890px;
    height: 54px;
    padding-left: 53px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: red;
  }
  .reviewRatingWrap {
    width: 958px;
    height: 17px;
    padding-bottom: 10px;
    background-color: pink;

  }
  .reviewContent {
    width: 958px;
    height: 40px;
    background-color: yellow;
  }
}