.container {
  height: 2000px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.categorySideBar {
  min-width: 250px;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.openCategorySideBarButton {
  background-color: transparent;
  border-top: none;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  padding: 7.5px;
  width: 25px;
  height: 25px;
  margin: 0px;
  position: absolute;
  z-index: 99;
}

.closeCategorySideBarButton {
  background-color: transparent;
  border-top: none;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  padding: 7.5px;
  width: 25px;
  height: 25px;
  margin: 0px;
  position: absolute;
  left: 270px;
  z-index: 99;
}

.select {
  display: flex;
  flex-direction: row;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  line-height: 38px;
  margin-bottom: 5px;
}

.button {
  color: #b2b2b2;
  border: 0.5px solid #ddd;
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #f3f3f3;
}

.buttonselected {
  border-top: 0.5px solid #ddd;
  border-right: 0.5px solid #ddd;
  border-left: 0.5px solid #ddd;
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.buttonselected:hover {
  cursor: pointer;
}

.categorys {
  font-family: 'musinsa', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.categoryshead {
  font-family: 'musinsa', sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  display: block;
  line-height: 20px;
  padding: 10px 0 8px 2px;
  background: url(/src/resources/image/add.svg) no-repeat;
  background-size: 7%;
  background-position: center right 2px;
}

.categorys:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.categorysEnglish {
  margin-left: 5px;
  color: #b2b2b2;
  font-size: 12px;
}

.selectedCategorys {
  font-family: 'musinsa', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.selectedcategoryshead {
  font-family: 'musinsa', sans-serif;
  font-size: 14px;
  display: block;
  line-height: 20px;
  padding: 10px 0 8px 2px;
  background: url(/src/resources/image/remove.svg) no-repeat;
  background-size: 7%;
  background-position: center right 2px;
}
.selectedcategoryshead:hover {
  cursor: pointer;
}

.subCategorylist {
  border-bottom: 1px solid #ddd;
  padding-left: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  animation: CategorySideBarSlideOpen 0.5s 1;
  animation-fill-mode: forwards;
}
.subcategory {
  color: #666;
  font-size: 11px;
  line-height: 20px;
}

.subcategory:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.closedcategoryshead {
  font-family: 'musinsa', sans-serif;
  font-size: 14px;
  display: block;
  line-height: 20px;
  padding: 10px 0 8px 2px;
  background: url(/src/resources/image/add.svg) no-repeat;
  background-size: 7%;
  background-position: center right 2px;
}

.closedsubCategorylist {
  border-bottom: 1px solid #ddd;
  padding-left: 2px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: CategorySideBarSlideClose 0.5s 1;
  animation-fill-mode: forwards;
}

.closedsubcategory {
  color: #666;
  font-size: 11px;
  line-height: 20px;
}

@keyframes CategorySideBarSlideOpen {
  0% {
    height: 0px;
  }

  100% {
    height: 260px;
  }
}

@keyframes CategorySideBarSlideClose {
  0% {
    height: 260px;
  }

  100% {
    height: 0px;
  }
}
