.itemList {
  width: calc(100%);
  max-width: 2000px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.itemListBox {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 3px;
  padding: 3px;
}

.itemNullBox {
  border: 1px solid #ddd;
  display: flex;
  height: 500px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
