ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

.wrapper {
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 18px;
  font-family: 'Musinsa', sans-serif !important;
  padding: 30px 20px 0;
  line-height: 27px;
}

.body {
  padding-top: 30px;
  padding: 30px 20px 30px;
}

.review_list_wrapper {
  box-sizing: border-box;
  width: 960px;
  border: 1px solid #ddd;
}
