p {
  margin: 0;
}

.wrapper {
  padding-top: 20px;
}

.profile {
  display: flex;
  padding: 0 15px 0 13px;
  font-size: 14px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  line-height: 1.5;
}

.profile_image {
  overflow: hidden;
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: 2px;
  border-radius: 100%;
  img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

.profile_text_wrapper {
  box-sizing: border-box;
  width: calc(100% - 32px);
  padding-left: 8px;
}

.profile_text {
  display: flex;
  .profile_text_left {
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    color: black;
  }
  .profile_text_right {
    margin-left: auto;
    padding-top: 2px;
    font-size: 12px;
    color: #aaa;
  }
}

.profile_info {
  display: flex;
  margin-top: -2px;
  padding-bottom: 9px;
  font-size: 12px;
  color: #aaa;
  align-items: center;
  p {
    display: flex;
    line-height: 18px;
    align-items: center;
  }
}
