.orderPurchase {
  position: relative;
  padding: 5px 20px 5px 20px;
  .ordertitle {
    margin-bottom: 12px;
    font-family: 'musinsa', 'AppleSDGothicNeo', 'Apple SD Gothic Neo',
      'Apple SD 산돌고딕 Neo', sans-serif !important;
    font-size: 18px;
    font-weight: normal;
  }
}
