.orderDelivery {
  padding: 5px 20px 5px 20px;
  font-family: 'AppleSDGothicNeo', 'Apple SD Gothic Neo',
    'Apple SD 산돌고딕 Neo', sans-serif !important;
  font-size: 14px;
  line-height: 1.5;

  .orderTitle {
    font-family: 'musinsa', 'AppleSDGothicNeo', 'Apple SD Gothic Neo',
      'Apple SD 산돌고딕 Neo', sans-serif !important;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: normal;
  }

  .orderList {
    border: 1px solid #e5e5e5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    .orderItemDelivery {
      display: flex;
      align-items: center;
      height: 46px;

      .orderItemLabel {
        display: inline-flex;
        width: 100px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 700;
      }
      .orderItemArea {
        display: flex;
        align-items: center;
        .orderTextAccent {
          color: #0078ff;
        }
        .orderButton {
          margin-left: 50px;
          display: inline-block;
          padding: 6px 10px;
          border: 1px solid #e5e5e5;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
}
