.itemPreview {
  width: 187px;
  margin-top: 30px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.previewImage {
  margin: 5px 0px;
  overflow: hidden;
}

.brand {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: 14px 0 6px 0;
}

.name {
  display: block;
  max-height: 44px;
  font-size: 16px;
  font-family: 'Musinsa', sans-serif !important;
  line-height: 22px;
  font-weight: normal;
  word-break: keep-all;
  overflow: hidden;
  margin-bottom: 10px;
}

.crossedOutPrice {
  display: block;
  clear: both;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  color: #999;
  font-weight: normal;
}

.upto {
  color: #ff0000;
  font-family: 'Musinsa', sans-serif !important;
  float: right;
  font-size: 16px;
}

.realPrice {
  display: inline-block;
  font-size: 16px;
  font-family: 'Musinsa', sans-serif !important;
  font-weight: normal;
  font-style: normal;
}
