.wrapper {
  float: left;
  margin-bottom: 120px;
  margin-top: -32px;
  padding-right: 40px;
  width: calc(100% - 290px);
  min-height: calc(100vh - 500px);
}

.title {
  border-bottom: 3px solid #000000;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 80px;
  padding-bottom: 14px;
  position: relative;
  h2 {
    display: inline-block;
    font-family: 'Musinsa', sans-serif !important;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }
}
.myRecent {
  display: grid;
  grid-template-columns: repeat(auto-fill, 195px);
  grid-gap: 5px;
  padding: 5px 0px;
}

.none {
  align-items: center;
  color: #777777;
  display: flex;
  font-size: 14px;
  height: 400px;
  justify-content: center;
}
