.wrapper {
  margin-top: 36px;
  width: 100%;
  padding: 25px 30px 20px 30px;
  border-bottom: 1px solid #ddd;
}

.category {
  padding-top: 5px;
  padding-bottom: 10px;
  span {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    color: #b2b2b2;
    a {
      text-decoration: underline;
      color: inherit;
      cursor: pointer;
    }
  }
}

.name {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}
