.wrapper {
  margin-top: 36px;
  width: 100%;
  padding: 25px 30px 20px 30px;
  border-bottom: 1px solid #ddd;
}

.category {
  padding-top: 5px;
  padding-bottom: 10px;
  span {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    color: #b2b2b2;
    a {
      text-decoration: underline;
      color: inherit;
      cursor: pointer;
    }
  }
}

.name {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 24px;
}

.body {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 36px;
}

.body_left {
  width: 520px;
  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}

.image_main {
  overflow: hidden;
  position: relative;
  width: 502px;
  height: 602px;
  padding: 10px 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.image_list {
  margin-bottom: 15px;
  padding: 16px 14px 0 19px;
  list-style: none;
  li {
    cursor: pointer;
    float: left;
    width: 60px;
    height: 72px;
    margin: 0 5px 5px 0;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
  }
}

.body_right {
  float: left;
  font-size: 12px;
  line-height: 1.5;
  .info_box {
    width: 400px;
    margin-bottom: 9px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
}

.label_name {
  display: block;
  padding-bottom: 7px;
  font-weight: 700;
}

.label_description {
  padding-bottom: 13px;
  color: #b2b2b2;
}

.info_header {
  font-size: 18px;
  font-family: 'Musinsa', sans-serif !important;
  span {
    vertical-align: middle;
    line-height: 15px;
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    color: #b2b2b2;
  }
}

.info_body {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    padding-bottom: 7px;
  }
  .info_title {
    display: inline-block;
    width: 110px;
  }
  .info_content {
    display: inline-block;
    width: 282px;
    font-weight: bold;
  }
  .info_price {
    display: inline-block;
    width: 282px;
    .old_price {
      font: 500 17px/21px 'Musinsa', sans-serif;
      color: #aaa;
      text-decoration: line-through;
    }
    .new_price {
      font: 500 17px/21px 'Musinsa', sans-serif;
    }
    .sale {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      img {
        margin-left: 5px;
        width: 14px;
        height: 14px;
        vertical-align: middle;
      }
      span {
        font: 500 12px/17px 'Musinsa', sans-serif;
        vertical-align: middle;
        color: red;
      }
    }
  }
}

.star_background {
  display: inline-block;
  width: 60px;
  height: 12px;
  background: url('../../resources/image/stars.png') no-repeat;
  overflow: hidden;
  vertical-align: middle;
  .star_bar {
    display: block;
    height: 100%;
    background: url('../../resources/image/stars.png') no-repeat 0 -120px;
  }
}

.rating {
  display: inline-block;
  padding-left: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #aaa;
}

.slash {
  display: inline-block;
  padding: 0 3px;
  font-size: 12px;
  font-weight: normal;
  color: #eee;
}

.review_link {
  display: inline-block;
  font-size: 12px;
  color: #0078ff;
  cursor: pointer;
}

.textbox_red {
  display: inline-block;
  margin: 6px 0 9px 0;
  padding: 10px;
  border: 1px solid red;
  color: red;
}
