.wrapper {
  float: left;
  margin-bottom: 120px;
  padding: 0;
  width: calc(100% - 290px);
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.title {
  position: relative;
  border-bottom: 3px solid #000000;
  padding-bottom: 14px;
  margin-top: 48px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  h1 {
    font-size: 24px;
    font-family: 'Musinsa', sans-serif !important;
    font-weight: 400;
    margin: 0;
    span {
      color: #aaaaaa;
    }
  }
}

.reveal_button {
  padding: 0 15.5px;
  margin-left: 15px;
  border: 1px solid #e5e5e5;
  background-color: white;
  min-width: 70px;
  height: 32px;
  line-height: 30px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
  box-sizing: border-box;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.reveal_button:hover {
  border-color: black;
}

.content {
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  border-collapse: collapse;
}

.info_grid {
  display: grid;
  grid-template-columns: 3fr minmax(340px, 7fr) 4fr;
}

.grid_block {
  height: auto;
  padding: 15px 0;
  box-sizing: border-box;
  border-top: 1px solid #f1f1f1;
  text-align: left;
  vertical-align: top;
}

.user_image {
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px 0 0 -6px;
  background-size: cover;
  border-radius: 100%;
  overflow: hidden;
}

.image_text {
  display: block;
  margin: 13px 0 8px 0;
}

.grid_button {
  margin: -5px 2px;
  border: 1px solid #e5e5e5;
  background-color: white;
  min-width: 120px;
  height: 32px;
  line-height: 30px;
  vertical-align: middle;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
  box-sizing: border-box;
  padding: 0 8px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.grid_button:hover {
  border-color: black;
}

.grid_strong {
  vertical-align: middle;
  font-weight: bold;
}

.grid_cancel_button {
  margin: -5px 2px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  color: black;
  min-width: 70px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
  font-size: 14px;
  transition: border 0.2s, background 0.2s ease-in-out;
}

.grid_cancel_button:hover {
  border-color: #d8d8d8;
  background-color: #d8d8d8;
}

.grid_confirm_button {
  margin: -5px 2px;
  border: 1px solid black;
  background-color: black;
  color: white;
  min-width: 70px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
  font-size: 14px;
  transition: border 0.2s, background 0.2s ease-in-out;
}

.grid_confirm_button:hover {
  border-color: #0078ff;
  background-color: #0078ff;
}

.grid_disabled_button {
  margin: -5px 2px;
  border: 1px solid #ccc;
  background-color: #ccc;
  color: white;
  min-width: 70px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif !important;
  font-size: 14px;
}

.button_container {
  margin-top: 15px;
}

.input_wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  // justify-content: space-between;
  align-items: center;
  .input {
    width: 100%;
    padding: 0 8px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-family: '-apple-system', HelveticaNeue, Roboto,
      'Noto Sans KR', helvetica, Gulim, sans-serif;
    color: #000;
    box-shadow: 0 0 0 30px #fff inset !important;
    transition: border 0.2s ease-in-out;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
    outline: 0;
    margin: 0 1px;
  }
  .input_clear_button {
    display: flex;
    margin-right: 7px;
    padding: 5px;
    flex: 0 0 auto;
    appearance: none;
    border: none;
    background: 0 0;
    cursor: pointer;
  }
  .show_password_button {
    display: flex;
    background: url(https://static.msscdn.net/ui/build/m/img/login/ic-30-show-button.svg?v=20230119143941)
      no-repeat 50% 50%;
    margin-right: 7px;
    padding: 0;
    width: 30px;
    height: 30px;
    flex: 0 0 auto;
    border: none;
    cursor: pointer;
  }
  .hide_password_button {
    display: flex;
    background: url(https://static.msscdn.net/ui/build/m/img/login/ic-30-hide-button.svg?v=20230119143941)
      no-repeat 50% 50%;
    margin-right: 7px;
    padding: 0;
    width: 30px;
    height: 30px;
    flex: 0 0 auto;
    border: none;
    cursor: pointer;
  }
}
.inputWrapDanger {
  border-color: red !important;
}

.helper_container {
  height: 30px;
  .helper {
    font-size: 12px;
    margin-top: 1px;
    margin-left: 2px;
  }
  .valid {
    color: #14aaff;
  }
  .invalid {
    color: red;
  }
}

.nickname_constraint {
  padding-left: 18px;
  color:#777777;
  margin: 0;
}

.password_row_wrapper {
  display: flex;
  .password_label {
    min-width: 165px;
    font-size: 14px;
    padding-top: 3px;
  }
  .input_helper_wrapper {
    padding-right: 20px;
    width: 400px
  }
}

.description_content {
  margin: 24px 20px 15px 0;
  position: relative;
}

.description_none {
  height: 400px;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
  font-size: 14px;
  color: #777777;
  line-height: 400px;
}

.modalbackground {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.modalContainer {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  position: absolute;
  width: 360px;
  height: 160px;
  left: calc(50% - 380px / 2);
  top: calc(50% - 170px / 2);
  background: #ffffff;
  border: 1px solid #d8d8d8;
  animation: modal-show 0.25s;
}
