.orderProductInfo {
  padding: 5px 20px 5px 20px;
  .orderTitle {
    font-family: 'musinsa', 'AppleSDGothicNeo', 'Apple SD Gothic Neo',
      'Apple SD 산돌고딕 Neo', sans-serif !important;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: normal;
  }
  .tableBasicOrder {
    clear: both;
    width: 100%;
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    text-align: center;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;

    .noitems {
      height: 150px;
      color: #999;
    }
    tr {
      border: 1px solid #e5e5e5;
    }
    .Item {
      width: 100%;
      display: flex;
      flex-direction: row;

      .ImageDiv {
        flex: 1;
        display: flex;
        padding: 3px 0px;
        .previewImage {
          width: 62px;
          margin: auto;
          display: block;
        }
      }
      .ItemInfo {
        float: left;
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
          padding-bottom: 8px;
          text-align: left;
          .brand {
            font-size: 14px;
          }
          .name {
            margin-left: 5px;
            font-weight: normal;
            font-size: 14px;
          }
        }
        .InfoLine {
          height: 20px;
          line-height: 20px;
          width: 90%;
          background-color: #f3f3f3;
          border: 1px solid #ddd;
          display: flex;
          .option {
            padding-top: 4px;
            padding-left: 5px;
          }
        }
      }
    }
    span {
      margin: 0px 5px;
    }

    .th1 {
      height: 40px;
    }

    td {
      border: 1px solid #e5e5e5;
    }

    th {
      padding: 0px 5px;
    }

    em {
      display: inline-block;
      font-style: normal;
    }
    del {
      display: block;
      clear: both;
      font-size: 11px;
      line-height: 16px;
      font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
      color: #999;
      font-weight: normal;
    }

    .Button {
      padding: 1px;
      margin: -6px 1px;
      width: 16px;
      height: 16px;
      border: 1px solid #e5e5e5;
    }

    .Button:hover {
      cursor: pointer;
    }

    .ButtonGray {
      padding: 1px;
      margin: -6px 1px;
      width: 16px;
      height: 16px;
      border: 1px solid #e5e5e5;

      background-color: rgb(201, 201, 201);
    }

    .deleteButton {
      padding: 1px;
      margin: 0px 5px;
      width: 14px;
      height: 14px;
      border: 1px solid #e5e5e5;
      border-radius: 30%;
    }

    .deleteButton:hover {
      cursor: pointer;
    }

    .closedcategoryshead {
      border: 1px solid;
      height: 20px;
      width: 20px;
      background: url(../../resources/image/add.svg) no-repeat;
    }
    .input {
      border: 1px solid #e5e5e5;
      width: 30px;
      height: 16px;
      text-align: center;
      font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
      font-size: 12px;
    }
    .input:focus {
      border: 1px solid;
    }
  }

  .announcement {
    display: flex;
    .ulDiv {
      flex: 8;
      display: table-cell;
      box-sizing: border-box;
    }
    .buttonDiv {
      flex: 2;
      padding: 10px 0px 0px 5px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      button {
        display: inline-block;
        width: 70px;
        height: 33px;
        margin-left: 6px;
        line-height: 33px;
        border: 1px solid #d8d8d8;
        background-color: #fff;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
        font-size: 12px;
      }
      button:hover {
        cursor: pointer;
      }
    }
    ul {
      list-style: none;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
    }
    li {
      width: 100%;
      list-style: none;
      color: #b2b2b2;
      line-height: 24px;
      span {
        color: #000;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.selected_amount {
  margin: auto 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  button {
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    border: 0;
    background-color: #eee;
    color: black;
    overflow: hidden;
    cursor: pointer;
  }
  input {
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #eee;
    text-align: center;
    text-indent: 0;
    cursor: text;
  }
}

.deletebackground {
  .deleteContainer {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    position: absolute;
    width: 360px;
    height: 160px;
    left: 50%;
    transform: translate(-50%, -106%);
    background: #ffffff;
    border: 1px solid #d8d8d8;
    animation: modal-show 0.25s;
  }

  .deleteContainerClose {
    font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    position: absolute;
    width: 360px;
    height: 160px;
    left: 50%;
    transform: translate(-50%, -106%);
    // top: calc(50% - 100px);
    background: #ffffff;
    border: 1px solid #d8d8d8;
    animation: modal-close 0.25s;
  }
  .textArea {
    flex: 3;
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deletebuttonArea {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;

    button {
      display: inline-block;
      width: 60px;
      height: 33px;
      margin-left: 6px;
      line-height: 33px;
      border: 1px solid #d8d8d8;
      background-color: #fff;
      box-sizing: border-box;
      text-align: center;
      font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
      font-size: 12px;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -30px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-close {
  from {
    opacity: 1;
    margin-top: 0px;
  }

  to {
    opacity: 0;
    margin-top: -30px;
  }
}
