.container {
  border: 1px solid;
  width: calc(100vw - 20px);
  height: 2000px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.categorySideBar {
  flex: 1;
  border: 1px solid;
  margin: 5px;
}

.mainContent {
  flex: 7;
  border: 1px solid;
  margin: 5px;
}

.openCategorySideBarButton {
  width: 20px;
  height: 20px;
  margin: 0px;
  position: absolute;
}




