.container {
  border-top: 1px solid #b2b2b2;
  width: 100vw;
  height: 2000px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.categorySideBar {
  min-width: 200px;
  border-right: 1px solid hwb(0 70% 30%);
}

.mainContent {
  flex: 7;
}

.openCategorySideBarButton {
  background-color: transparent;
  border-top: none;
  border-right: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  border-left: none;
  padding: 5px;
  width: 25px;
  height: 25px;
  margin: 0px;
  position: absolute;
}




