.container {
  border: 1px solid;
  width: calc(100vw - 20px);
  height: 1000px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.categorySideBar {
  flex: 1;
  border: 1px solid;
  margin: 5px;
}

.mainContent {
  flex: 7;
  border: 1px solid;
  margin: 5px;
}

.openCategorySideBarButton {
  width: 20px;
  height: 20px;
  margin: 0px;
  position: absolute;
}

.itemList {
  border: 1px solid;
  width: calc(100% - 10px);
  height: 400px;
  display: flex;
  flex-direction: row;
}

.itemListCategory {
  flex: 1;
  border: 1px solid;
  margin: 5px;
}

.itemListBox {
  flex: 7;
  border: 1px solid;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  row-gap: 20px;
  column-gap: 20px;
}

.itemPreview {
  border: 1px solid;
}
