.main {
  background-color: black;
  height: 32px;
  padding: 23px 0 23px 0;
  width: 100%;
}

.title {
  float: left;
  height: 23px;
  margin-left: 20px;
  width: 140px;
  img {
    height: 100%;
    margin-top: 4px;
    vertical-align: middle;
  }
}

.searchBar {
  float: left;
  margin-left: 19px;
  form {
    background-color: white;
    border: 1px solid #373737;
    height: 30px;
    width: 258px;
  }
  input {
    border: none;
    font-size: 10px;
    vertical-align: middle;
  }
  input:focus {
    outline: none;
  }
  button {
    border: none;
  }
}
