.main {
  background-color: black;
  height: 18px;
  padding: 16px 0 16px 0;
  width: 100%;
}

.title {
  float: left;
  margin-left: 12px;
  img {
    height: 16px;
    vertical-align: middle;
  }
}
