.background {
  background: #f1f1f1
    url(https://static.msscdn.net/ui/build/m/img/old/bg_join.gif?v=20221228155530)
    repeat-y 50% 0;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  .headerLogoArea {
    height: 50px;
    width: 100%;
    margin-top: 62px;
    text-align: center;
    .headerLogo {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      width: 95px;
      height: 16px;
    }
  }
  .contentArea {
    width: 345px;
    padding: 20px 15px 100px 15px;
    margin: auto;
    background-color: white;
    .joinContainer {
      width: 345px;
      margin: auto;
      background-color: white;
      .joinForm {
        width: 345px;
        background-color: white;
        .inputIdArea {
          width: 345px;
          height: 79px;
          background-color: white;
          .inputIdLabel {
            height: 21px;
            width: 48px;
            margin-bottom: 8px;
            display: inline-block;
            line-height: 21px;
            font-size: 14px;
            font-family: '-apple-system', HelveticaNeue, Roboto, 'Noto Sans KR',
              helvetica, Gulim, sans-serif;
            .inputIdDot {
              display: inline-block;
              width: 4px;
              height: 4px;
              margin-top: 4px;
              border-radius: 50%;
              background-color: red;
              vertical-align: top;
              position: relative;
              left: 3px;
            }
          }
          .inputIdWrap {
            width: 345px;
            height: 50px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: white;
            .inputId {
              width: 100%;
              height: 48px;
              box-sizing: border-box;
              padding: 0 12px;
              border: 0px;
            }
          }
        }
        .inputPasswordArea {
          margin-top: 8px;
          width: 100%;
          height: 95px;
          background-color: white;
          .inputPasswordLabel {
            height: 21px;
            margin-top: 16px;
            margin-bottom: 8px;
            display: inline-block;
            line-height: 21px;
            font-size: 14px;
            font-family: '-apple-system', HelveticaNeue, Roboto, 'Noto Sans KR',
              helvetica, Gulim, sans-serif;
            .inputPasswordDot {
              display: inline-block;
              width: 4px;
              height: 4px;
              margin-top: 4px;
              border-radius: 50%;
              background-color: red;
              vertical-align: top;
              position: relative;
              left: 3px;
            }
          }
          .inputPasswordWrap {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            background-color: white;
            .inputPassword {
              box-sizing: border-box;
              width: 100%;
              height: 48px;
              padding: 0 12px 0 12px;
              border: 0px;
            }
            .inputPasswordMessage {
              width: 100%;
              height: 16.5px;
              margin-top: 8px;
              position: static;
            }
          }
        }
        .inputRepeatArea {
          width: 100%;
          height: 50px;
          margin-top: 8px;
          background-color: white;
          .inputRepeatWrap {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            .inputRepeat {
              width: 100%;
              height: 48px;
              box-sizing: border-box;
              border: 0px;
              padding: 0 12px 0 12px;
            }
          }
        }
        .inputNickArea {
          height: 119.5px;
          margin-top: 8px;
          background-color: white;
          width: 100%;
          .inputNickLabel {
            height: 21px;
            margin-top: 16px;
            margin-bottom: 8px;
            display: inline-block;
            line-height: 21px;
            font-size: 14px;
            font-family: '-apple-system', HelveticaNeue, Roboto, 'Noto Sans KR',
              helvetica, Gulim, sans-serif;
            .inputNickDot {
              display: inline-block;
              width: 4px;
              height: 4px;
              margin-top: 4px;
              border-radius: 50%;
              background-color: red;
              vertical-align: top;
              position: relative;
              left: 3px;
            }
          }
          .inputNickWrap {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            .inputNick {
              width: 100%;
              height: 48px;
              box-sizing: border-box;
              border: 0px;
              padding: 0 12px 0 12px;
            }
          }
        }
        .inputRecommendIdArea {
          height: 95px;
          margin-top: 8px;
          background-color: white;
          width: 100%;
          .inputRecommendIdLabel {
            height: 21px;
            margin-top: 16px;
            margin-bottom: 8px;
            display: inline-block;
            line-height: 21px;
            font-size: 14px;
            font-family: '-apple-system', HelveticaNeue, Roboto, 'Noto Sans KR',
              helvetica, Gulim, sans-serif;
          }
          .inputRecommendIdWrap {
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            .inputRecommendId {
              width: 100%;
              height: 48px;
              box-sizing: border-box;
              border: 0px;
              padding: 0 12px 0 12px;
            }
          }
        }
        .agreementForm {
          width: 100%;
          margin-top: 40px;
          background-color: white;
          .checkboxAll {
            height: 24px;
            width: 100%;
            margin-bottom: 4px;
            display: inline-block;
            background-color: white;
            font-size: 14px;
            font-family: Gulim;
            font-weight: bold;

            .allCheckButton {
              width: 20px;
              height: 20px;
              border: 1px solid #999;
              background-color: #f1f1f1;
              cursor: pointer;
            }
            .allCheckText {
              vertical-align: 40%;
            }
          }
          .checkbox {
            height: 19px;
            margin-top: 12px;
            background-color: white;
            font-size: 13px;
            line-height: 19px;
            color: #6e6e6e;
            font-family: Gulim;
            .oneCheckButton {
              width: 17px;
              height: 17px;
              border: 1px solid #999;
              background-color: #f1f1f1;
              cursor: pointer;
              position: relative;
              bottom: 3px;
            }
            .oneCheckText {
              vertical-align: 40%;
            }
          }
        }
        .signupButtonArea {
          height: 50px;
          margin-top: 40px;
          background-color: white;
          .signupButtonF {
            display: block;
            width: 100%;
            box-sizing: border-box;
            height: 50px;
            padding: 14px 16px 15px;
            border-color: #f3f3f3;
            background-color: #f3f3f3;
            color: #b3b3b3;
            border: 1px;
            border-radius: 4px;
          }
          .signupButtonT {
            display: block;
            width: 100%;
            box-sizing: border-box;
            height: 50px;
            padding: 14px 16px 15px;
            border-color: #0078ff;
            background-color: #0078ff;
            color: #fff;
            border: 1px;
            border-radius: 4px;
          }
        }
        .signupButtonHelper {
          height: 42px;
          margin-top: 20px;
          padding-left: 10px;
          background-color: white;
          .signupButtonHelperText {
            width: 335px;
            height: 42px;
            background-color: white;
            font-size: 14px;
            line-height: 21px;
            font-family: '-apple-system', HelveticaNeue, Roboto, 'Noto Sans KR',
              helvetica, Gulim, sans-serif;
            text-align: left;
            color: #777;
          }
          a:link {
            color: #007aff;
          }
          a:visited {
            color: #007aff;
          }
        }
      }
    }
  }
  .inDetail {
    font-size: 13px;
    line-height: 19px;
    color: #6e6e6e;
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    background: 0 0;
    font-family: Gulim;
  }
}
