.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  h3 {
    margin: 0;
  }
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}

.wrapper.close {
  animation-name: fadeOut;
}

.modal {
  background-color: white;
  border-radius: 10px;
  height: 460px;
  width: 680px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

.wrapper.close > .modal {
  animation-name: slideDown;
}

.images {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
}

.prevArrow {
  position: absolute;
  display: flex;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 12px;
  z-index: 99;
  opacity: 0.5;
  width: 24px;
  height: 24px;
  :hover {
    cursor: pointer;
    opacity: 1;
  }
}

.nextArrow {
  position: absolute;
  display: flex;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 4px;
  z-index: 99;
  opacity: 0.5;
  width: 24px;
  height: 24px;
  :hover {
    cursor: pointer;
    opacity: 1;
  }
}

.image {
  height: 460px;
  width: 340px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.body {
  width: 100%;
  overflow-y: hidden;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  position: relative;
}

.profile {
  margin-left: 16px;
}

.profile_image {
  width: 36px;
  height: 36px;
}

.profile_text {
  display: inline-block;
  margin-left: 16px;
  vertical-align: top;
}

.profile_nickname {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.profile_userinfo {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #666;
}

.follow_box {
  border: 1px solid;
  border-radius: 3px;
  margin: -17px 0 0 14px;
  padding: 2px 5px 4px 5px;
  cursor: pointer;
}

.followed {
  border-color: #a1a1a1;
  color: #a1a1a1;
}

.not_followed {
  border-color: #00a3ff;
  color: #00a3ff;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  img {
    width: 24px;
    height: 24px;
    filter: invert(60%);
  }
}

.scrollable {
  margin-left: 16px;
  height: calc(100% - 64px);
  overflow-y: auto;
}

.content {
  position: relative;
}

.content_text_wrapper {
  padding: 8px 56px 12px 0;
}

.content_text {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  margin-bottom: 16px;
  display: block;
}

.content_hashtag {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  display: block;
  color: #00a3ff;
}

.like_box_wrapper {
  padding-top: 8px;
  font-weight: bold;
}

.like_box {
  width: 76px;
  height: 38px;
  border-radius: 4px;
  border: 2px solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.liked {
  border-color: #fb3958;
  color: #fb3958;
  .like_icon_img {
    filter: invert(33%) sepia(39%) saturate(6022%) hue-rotate(334deg)
      brightness(111%) contrast(97%);
  }
}

.not_liked {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  .like_icon_img {
    filter: invert(70%);
  }
}

.like_icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid;
  border-color: inherit;
  img {
    width: 24px;
    height: 24px;
  }
}

.like_count {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  color: inherit;
}

.style_created_time {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 10px;
  color: #a1a1a1;
  position: absolute;
  top: 8px;
  right: 16px;
}

.item_wrapper {
  margin-top: 18px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 252px;
  height: 76px;
  display: grid;
  grid-template-columns: 78px auto;
}

.item_wrapper:last-of-type {
  margin-bottom: 18px;
}

.item_image {
  img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
  }
}

.item_info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_info_text {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 10px;
  .item_info_name {
    margin-top: 2px;
    font-weight: 700;
    display: block;
  }
}

.item_info_price {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-size: 10px;
  font-weight: 700;
  .item_info_sale {
    display: inline-block;
    color: red;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100px);
  }
}
