.wrapper {
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 18px;
  font-family: 'Musinsa', sans-serif !important;
  padding: 30px 20px 0;
  line-height: 27px;
}

.small_title {
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

.body {
  padding-top: 30px;
  padding: 30px 20px 30px;
}

.inquiry_list {
  box-sizing: border-box;
  width: 960px;
  border: 1px solid #ddd;
  border-bottom: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
}

.inquiry_grid {
  font-size: 12px;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  display: grid;
  grid-template-columns: 7% 8% 10% auto 12% 13%;
  height: 42px;
  border-bottom: 1px solid #ddd;
  span {
    display: table-cell;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
  }
}

.inquiry_header {
  font-weight: 700;
}

.page_index_box {
  height: 40px;
  padding-right: 12px;
  border-bottom: 1px solid #ddd;
  font-weight: 700;
  line-height: 40px;
  text-align: right;
}

.pagenation_wrapper {
  width: 100%;
  height: 40px;
  text-align: right !important;
  border-bottom: 1px solid #ddd;
}

.pagenation {
  display: inline-block;
  button {
    border: none;
    border-left: 1px solid #ddd;
    width: auto;
    min-width: 32px;
    padding: 0 2px;
    line-height: 40px;
    text-align: center;
    color: #b2b2b2;
    background-color: white;
    cursor: pointer;
  }
  .selected {
    background-color: #f3f3f3;
    font-weight: bold;
    color: black;
  }
}

.bottom {
  text-align: right;
  margin-top: 10px;
  width: 960px;
  span {
    color: #b2b2b2;
    display: inline-block;
    line-height: 33px;
    padding-right: 7px;
  }
}

.inquiry_write_button {
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
