.itemList {
  width: calc(100%);
  max-width: 2000px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.itemListBox {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}

.sort {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  .sortline {
    font-size: 11px;
    height: 12px;
    padding: 7px;
    display: flex;
    border-bottom: 1px solid #ddd;
    .sortRuleSelected {
      border-right: 1px solid #ddd;
      padding: 0px 10px;
    }
    .sortRule {
      border-right: 1px solid #ddd;
      padding: 0px 10px;
      color: #b2b2b2;
    }
  }
  .pageline {
    font-size: 11px;
    height: 20px;
    padding: 3px;
    display: flex;
    border-bottom: 1px solid #ddd;
    .pagenumber {
      padding: 0px 11px;
      display: flex;
      flex-direction: row;
      .page {
        width: 20px;
        border: 1px solid #ddd;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}
